/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'Roboto Mono', 'monospace';
  font-weight: 500;
  font-style: normal;
}
.contact-class {
  color: black;
  font-size: 1em;
  line-height: 1em;
  align-self: start;
}
.list-class {
  color: black;
  font-size: 1em;
  line-height: 1em;
  align-self: start;
}
.fa-class {
  display: flex;
  flex-direction: row;
  color: #3a2dee;
  font-size: 2.5em;
}
.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: auto;
  margin: auto;
  padding: 1%;
  background-color: lightblue;
  border-top: solid 6px #008cff;
}
@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
  }
}
.container .main-header {
  display: flex;
  flex-flow: row;
  margin: auto;
  padding: 1%;
  width: 100%;
  border: solid white 0.05em;
  border-radius: 0.25em;
  background-color: lightgrey;
}
@media (max-width: 500px) {
  .container .main-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
    border: none;
  }
}
.container .main-nav {
  display: flex;
  flex-flow: nowrap;
  width: 100%;
  margin: auto;
}
@media (max-width: 500px) {
  .container .main-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin: auto;
  }
}
.container .main-nav a {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
  padding: 1%;
  margin: auto;
}
@media (max-width: 500px) {
  .container .main-nav a {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.5em;
  }
}
.container .top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: 100%;
  margin: auto;
  padding: 1%;
}
@media (max-width: 500px) {
  .container .top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 1%;
  }
}
.container .top-content .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  margin: auto;
  padding: 1%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
@media (max-width: 500px) {
  .container .top-content .intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
  }
}
.container .top-content h1 {
  display: flex;
  font-size: 1.5em;
  color: black;
  margin: 1% auto;
  padding: 1%;
}
.container .top-content p {
  display: flex;
  justify-content: center;
  color: black;
  margin: 1% auto;
  padding: 1%;
  line-height: 1.25;
}
@media (max-width: 500px) {
  .container .top-content p {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
.container .top-content button {
  display: flex;
  margin: 1% auto;
  padding: 1.5%;
  font-size: 1.25em;
  justify-content: center;
  align-self: center;
  color: white;
  background-color: lightskyblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
@media (max-width: 500px) {
  .container .top-content button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
.container .top-content .place {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 45%;
  padding: 1.5%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
@media (max-width: 500px) {
  .container .top-content .place {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
.container .top-content .intro-img {
  display: flex;
  width: 100%;
}
.container .bottom-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgrey;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: 100%;
  margin: auto;
  padding: 1.5%;
}
@media (max-width: 500px) {
  .container .bottom-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
.container .bottom-content .skills {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1%;
  width: 98%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.container .bottom-content .skills h2 {
  display: flex;
  margin: 1%;
  font-size: 1.2em;
}
.container .bottom-content .skills p {
  display: flex;
  margin: 1%;
}
.container .bottom-content .skills ul {
  display: flex;
  margin: 1%;
  flex-direction: column;
}
.container .bottom-content .skills li {
  display: flex;
  margin: 1%;
  color: black;
  font-size: 1em;
  line-height: 1em;
  align-self: start;
}
@media (max-width: 500px) {
  .container .bottom-content .skills {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
.container .bottom-content .history {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1%;
  width: 98%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.container .bottom-content .history h2 {
  display: flex;
  margin: 1%;
  font-size: 1.2em;
}
.container .bottom-content .history p {
  display: flex;
  margin: 1%;
}
.container .bottom-content .history ul {
  display: flex;
  margin: 1%;
  flex-direction: column;
}
.container .bottom-content .history li {
  display: flex;
  margin: 1%;
  color: black;
  font-size: 1em;
  line-height: 1em;
  align-self: start;
}
@media (max-width: 500px) {
  .container .bottom-content .history {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
.container .last-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: 100%;
  margin: auto;
  padding: 1.5%;
}
@media (max-width: 500px) {
  .container .last-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
.container .last-content .reach-info {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  width: 45%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.container .last-content .reach-info h2 {
  display: flex;
  margin: 1% auto;
  font-size: 1.2em;
}
.container .last-content .reach-info p {
  display: flex;
}
.container .last-content .reach-info ul {
  display: flex;
  flex-direction: row;
  margin: 2.5%;
}
.container .last-content .reach-info ul li {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.container .last-content .reach-info ul li .fas {
  display: flex;
  flex-direction: row;
  color: #3a2dee;
  font-size: 2.5em;
}
.container .last-content .reach-info ul .fab {
  display: flex;
  flex-direction: row;
  color: #3a2dee;
  font-size: 2.5em;
}
@media (max-width: 500px) {
  .container .last-content .reach-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: space-between;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
.container .last-content .email {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  width: 45%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.container .last-content .email h2 {
  display: flex;
  margin: 1% auto;
  font-size: 1.2em;
}
.container .last-content .email p {
  display: flex;
}
.container .last-content .email form {
  display: flex;
  margin: auto;
}
.container .last-content .email ul {
  display: flex;
}
.container .last-content .email ul li {
  color: black;
  font-size: 1em;
  line-height: 1em;
  align-self: start;
}
@media (max-width: 500px) {
  .container .last-content .email {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 1.125em;
  }
}
