/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
  padding: 1%;
  background-color: lightblue;
}
.container .main-header {
  display: flex;
  flex-flow: row;
  margin: auto;
  padding: 1%;
  width: 100%;
  border: solid white 0.05em;
  border-radius: 0.25em;
  background-color: lightgrey;
}
.container .main-nav {
  display: flex;
  flex-flow: nowrap;
  width: 100%;
  margin: auto;
}
.container .main-nav a {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
  padding: 1%;
  margin: auto;
}
.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: 100%;
  margin: auto;
  padding: 1%;
}
.top-content .intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  margin: auto;
  padding: 1%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.top-content h1 {
  display: flex;
  font-size: 1.5em;
  color: white;
  margin: 1% auto;
  padding: 1%;
  border: solid red 1px;
}
.top-content p {
  display: flex;
  justify-content: center;
  color: white;
  margin: 1% auto;
  padding: 1%;
  line-height: 1.25;
  border: solid red 1px;
}
.top-content button {
  display: flex;
  margin: 1% auto;
  padding: 1.5%;
  font-size: 1.25em;
  justify-content: center;
  align-self: center;
  color: white;
  background-color: lightskyblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.top-content .place {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 45%;
  padding: 1.5%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.top-content .intro-img {
  display: flex;
  width: 100%;
}
.bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: 100%;
  margin: auto;
  padding: 1.5%;
}
.bottom-content .skills {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1%;
  width: 45%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.bottom-content .skills h2 {
  display: flex;
  margin: 1% auto;
  font-size: 1.2em;
}
.bottom-content .skills p {
  display: flex;
  margin: 1% auto;
}
.bottom-content .skills ul {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
}
.bottom-content .skills li {
  display: flex;
  margin: 1% auto;
}
.bottom-content .history {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1%;
  width: 45%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.bottom-content .history h2 {
  display: flex;
  margin: 1% auto;
  font-size: 1.2em;
}
.bottom-content .history p {
  display: flex;
  margin: 1% auto;
}
.bottom-content .history ul {
  display: flex;
  margin: 1% auto;
  flex-direction: column;
}
.bottom-content .history li {
  display: flex;
  margin: 1% auto;
}
.last-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: 100%;
  margin: auto;
  padding: 1.5%;
}
.last-content .reach-info {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  width: 45%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.last-content .reach-info h2 {
  display: flex;
  margin: 1% auto;
  font-size: 1.2em;
}
.last-content .reach-info p {
  display: flex;
}
.last-content .reach-info ul {
  display: flex;
}
.last-content .reach-info .fas {
  display: flex;
  color: white;
  margin: 1% auto;
  font-size: 3.5em;
}
.last-content .form {
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  width: 45%;
  background-color: lightblue;
  border: solid white 0.05em;
  border-radius: 0.25em;
}
.last-content .form h2 {
  display: flex;
  margin: 1% auto;
  font-size: 1.2em;
}
.last-content .form p {
  display: flex;
}
.last-content .form ul {
  display: flex;
}
.last-content .form .fas {
  display: flex;
  color: white;
  margin: 1% auto;
  font-size: 3.5em;
}
