// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@nav-font: 1.5em;
@h2-styles: 1.7em;
@flex-box: flex;
@flex-space: column;
@flex-pad: padding 1%;

@fa-color: white;
@fa-width: 100%;

@primary-color: lightblue;
@secondary-color: lightgrey;
@standard-margin: auto;
@img-width: 100%;
@standard-width: 100%;

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
  padding: 1%;
  background-color: @primary-color;

  .main-header {
    display: flex;
    flex-flow: row;
    margin: auto;
    padding: 1%;
    width: @standard-width;
    border: solid white 0.05em;
    border-radius: 0.25em;
    background-color: @secondary-color;
  }

  .main-nav {
    display: flex;
    flex-flow: nowrap;
    width: @standard-width;
    margin: auto;
  }

  .main-nav a {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: @nav-font;
    background-color: @primary-color;
    border: solid white 0.05em;
    border-radius: 0.25em;
    padding: 1%;
    margin: auto;
  }
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: @secondary-color;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: @standard-width;
  margin: auto;
  padding: 1%;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    margin: auto;
    padding: 1%;
    background-color: @primary-color;
    border: solid white 0.05em;
    border-radius: 0.25em;
  }

  h1 {
    display: flex;
    font-size: @nav-font;
    color: white;
    margin: 1% auto;
    padding: 1%;
    border: solid red 1px;
  }

  p {
    display: flex;
    justify-content: center;
    color: white;
    margin: 1% auto;
    padding: 1%;
    line-height: 1.25;
    border: solid red 1px;
  }

  button {
    display: flex;
    margin: 1% auto;
    padding: 1.5%;
    font-size: 1.25em;
    justify-content: center;
    align-self: center;
    color: white;
    background-color: lightskyblue;
    border: solid white 0.05em;
    border-radius: 0.25em;
  }

  .place {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45%;
    padding: 1.5%;
    background-color: @primary-color;
    border: solid white 0.05em;
    border-radius: 0.25em;
  }

  .intro-img {
    display: flex;
    width: @img-width;

  }
}



.bottom-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: lightgrey;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: @standard-width;
  margin: auto;
  padding: 1.5%;

  .skills {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1%;
    width: 45%;
    background-color: @primary-color;
    border: solid white 0.05em;
    border-radius: 0.25em;

    h2 {
      display: flex;
      margin: 1% auto;
      font-size: 1.2em;
    }

    p {
      display: flex;
      margin: 1% auto;
    }

    ul {
      display: flex;
      margin: 1% auto;
      flex-direction: column;
      margin: 1% auto;
    }

    li {
      display: flex;
      margin: 1% auto;
    }
  }

  .history {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1%;
    width: 45%;
    background-color: @primary-color;
    border: solid white 0.05em;
    border-radius: 0.25em;

    h2 {
      display: flex;
      margin: 1% auto;
      font-size: 1.2em;
    }

    p {
      display: flex;
      margin: 1% auto;
    }

    ul {
      display: flex;
      margin: 1% auto;
      flex-direction: column;
    }

    li {
      display: flex;
      margin: 1% auto;
    }
  }
}

.last-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
  border: solid white 0.05em;
  border-radius: 0.25em;
  width: @standard-width;
  margin: auto;
  padding: 1.5%;

  .reach-info {
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    width: 45%;
    background-color: @primary-color;
    border: solid white 0.05em;
    border-radius: 0.25em;

    h2 {
      display: flex;
      margin: 1% auto;
      font-size: 1.2em;
    }

    p {
      display: flex;
    }

    ul {
      display: flex;
    }

    .fas {
      display: flex;
      color: white;
      margin: 1% auto;
      font-size: 3.5em;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    margin: 1% auto;
    width: 45%;
    background-color: @primary-color;
    border: solid white 0.05em;
    border-radius: 0.25em;

    h2 {
      display: flex;
      margin: 1% auto;
      font-size: 1.2em;
    }

    p {
      display: flex;
	}
	
	ul {
		display: flex;
	  }

    .fas {
      display: flex;
      color: white;
      margin: 1% auto;
      font-size: 3.5em;
    }
  }
}
