// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@font-size: 16px;

div {
  font-size: @font-size;
}

@nav-font: 1.7em;

@h2-styles: 1.7em;

img {
	width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
  padding: 1%;
  background-color: lightgray;
  border: solid 1px red;

  .main-header {
    display: flex;
    flex-flow: row;
	margin: auto;
	padding: 1%;
	width: 100%;
	border: solid red 1px;
	// height: 25%;
  }

  .main-nav {
    display: flex;
    flex-flow: nowrap;
	width: 100%;
	margin: auto;
	padding: 1%;
    justify-content: space-around;
  }

  .main-nav a {
    display: flex;
	flex-flow: nowrap;
	justify-content: center;
    text-decoration: none;
    color: white;
    font-size: @nav-font;
	background-color: skyblue;
    border: solid white 0.05em;
    border-radius: 0.25em;
	padding: 1%;
	margin: auto;
  }
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: solid red 1px;
  width: 100%;
  margin: auto;
  padding: 1.5%;

  .intro {
    display: flex;
    flex-direction: column;
	align-items: flex-start;
	width: 45%;
	margin: auto;
	border: solid red 1px;
  }

  h1 {
	display: flex;
    font-size: @nav-font;
    color: white;
	margin: 1.5%;
	padding: 1.5%;
	border: solid red 1px;
  }

  p {
	display: flex;
	margin: 1.5%;
	padding: 1.5%;
	border: solid red 1px;
  }

  button {
	display: flex;
	width: 150px;
	margin: 1.5%;
	padding: 1.5%;
	font-size: 1.25em;
	justify-content: center;
	color: white;
	background-color: skyblue;
	border: solid white 0.05em;
	border-radius: .25em;
	// border: solid red 1px;
  }

  .place {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 45%;
	padding: 1.5%;
	border: solid red 1px;
  }
}

.bottom-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: solid red 1px;
	width: 100%;
	margin: auto;
	padding: 1.5%;

	.skills {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 45%;
		border: solid red 1px;

		h2 {
			font-size: 1.2em;
		}
		
		p {
			display: flex;
		}
	}

	.history {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 45%;
		border: solid red 1px;

		h2 {
			font-size: 1.2em;
		}

		p {
			display: flex;
		}
	}
}

.last-content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: solid red 1px;
	width: 100%;
	margin: auto;
	padding: 1.5%;

	.reach-info {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 45%;
		border: solid red 1px;

		h2 {
			font-size: 1.2em;
		}

		p {
			display: flex;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 45%;
		border: solid red 1px;

		h2 {
			font-size: 1.2em;
		}

		p {
			display: flex;
		}
	}
}
